{% extends 'quiz/base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block context %}
    <h2 class="text-center mt-3 mb-3">Dashboard</h2>
    <h4 class="mt-4 mb-3">Completed quizzes:</h4>
    {% if completed_quizzes %}
        {% for completed_quiz in completed_quizzes %}
            <div class="card mt-3 mb-3">
                <div class="card-header">{{ completed_quiz.quiz }}</div>
                <div class="card-body">
                    <h5 class="card-title">Quiz: "{{ completed_quiz.quiz }}"</h5>
                    <p class="card-text mb-0">
                        Descriptions: {{ completed_quiz.quiz.descriptions|truncatewords:50 }}...
                    </p>
                    <p class="card-text">Questions: {{ completed_quiz.quiz.question_set.all|length }}</p>
                    <p class="card-text fs-5">
                        Your result: <u>{{ completed_quiz.result }}/{{ completed_quiz.quiz.answer_set.all|length }}</u>
                    </p>
                    <a href="{% url 'quiz:result' completed_quiz.quiz.url_title %}" class="btn btn-success">
                        Check detail result
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="fs-5">You have not completed any quizzes</p>
    {% endif %}


    <hr>
    <a class="btn btn-outline-success fs-5" href="{% url 'quiz:quizzes' %}">Check other quizzes</a>
{% endblock %}