{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <h2 class="text-center mt-3 mb-3">Your dashboard</h2>
    <h4 class="mt-4 mb-3">Completed quizzes:</h4>
    {% if completed_quizzes %}
        {% for completed_quiz in completed_quizzes %}
            <div class="card mt-3 mb-3">
                <div class="card-header">{{ completed_quiz.quiz }}</div>
                <div class="card-body">
                    <h5 class="card-title">Quiz: "{{ completed_quiz.quiz }}"</h5>
                    <p class="card-text mb-0">
                        Descriptions: {{ completed_quiz.quiz.descriptions|truncatewords:50 }}...
                    </p>
                    <p class="card-text mb-0">Questions: {{ completed_quiz.quiz.question_set.all|length }}</p>
                    <p class="card-text">
                        Complexity: <span class="
                        {% if completed_quiz.quiz.complexity == 1 %}
                            text-success-emphasis
                        {% elif completed_quiz.quiz.complexity == 2 %}
                            text-warning-emphasis
                        {% elif completed_quiz.quiz.complexity == 3 %}
                            text-danger-emphasis
                        {% endif %}">{{ completed_quiz.quiz.get_complexity_display }}</span>
                    </p>
                    <p class="card-text fs-5">
                        Your result: <u>{{ completed_quiz.result }}/{{ completed_quiz.quiz.answer_set.all|length }}</u>
                    </p>
                    <a href="{% url 'quiz:result' completed_quiz.quiz.url_title %}" class="btn btn-{{ color_theme }}">
                        Check detail result
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="fs-5">You have not completed any quizzes</p>
    {% endif %}
    <hr>
    <a class="btn btn-outline-{{ color_theme }} fs-5" href="{% url 'quiz:quizzes' %}">Check other quizzes</a>
{% endblock %}