{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <h2 class="text-center mt-3 mb-3">Your dashboard</h2>
    <h4 class="mt-4 mb-3">Your own quizzes:</h4>
    {% if authored_quizzes %}
        {% for authored_quiz in authored_quizzes %}
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ authored_quiz }}</h5>
                    <p class="card-text">{{ authored_quiz.descriptions|slice:":50" }}{% if authored_quiz.descriptions|length >= 50 %}...{% endif %}</p>
                    <p class="card-text mb-0">
                        Complexity: <span class="fw-bold
                        {% if authored_quiz.complexity == 1 %}
                            text-success-emphasis
                        {% elif authored_quiz.complexity == 2 %}
                            text-warning-emphasis
                        {% elif authored_quiz.complexity == 3 %}
                            text-danger-emphasis
                        {% endif %}">{{ authored_quiz.get_complexity_display }}</span>
                    </p>
                    <p class="card-text">Number of Questions:
                        <span class="fw-bold">{{ authored_quiz.question_set.all|length }}</span>
                    </p>
                    <a href="{% url 'quiz:quiz' authored_quiz.url_title %}" class="btn btn-{{ color_theme }}">
                        Open
                    </a>
                    &nbsp;
                    <a href="{% url 'quiz:manage_quiz' authored_quiz.url_title %}"
                       class="btn btn-outline-{{ color_theme }}">
                        Manage
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="fs-5">You have not created any quizzes</p>
        <a href="{% url 'quiz:create_quiz' %}" class="btn btn-outline-{{ color_theme }}">
            Create quiz
        </a>
    {% endif %}
    <hr>
    {% if not_completed_quizzes %}
        <h4 class="mt-4 mb-3">Continue completing:</h4>
        {% for not_completed_quiz in not_completed_quizzes %}
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ not_completed_quiz.quiz }}</h5>
                    <p class="card-text">{{ not_completed_quiz.quiz.descriptions|slice:":50" }}{% if not_completed_quiz.quiz.descriptions|length >= 50 %}...{% endif %}</p>
                    <p class="card-text mb-0">
                        Complexity: <span class="fw-bold
                        {% if not_completed_quiz.quiz.complexity == 1 %}
                            text-success-emphasis
                        {% elif not_completed_quiz.quiz.complexity == 2 %}
                            text-warning-emphasis
                        {% elif not_completed_quiz.quiz.complexity == 3 %}
                            text-danger-emphasis
                        {% endif %}">{{ not_completed_quiz.quiz.get_complexity_display }}</span>
                    </p>
                    <p class="card-text mb-0">Number of Questions:
                        <span class="fw-bold">{{ not_completed_quiz.quiz.question_set.all|length }}</span>
                    </p>
                    <p class="card-text">Author:
                        <a class="fw-bold text-{% if theme == 'light' %}dark{% else %}light{% endif %}"
                           href="{% url 'quiz:profile' not_completed_quiz.quiz.author %}">{{ not_completed_quiz.quiz.author }}</a>
                    </p>
                    <a href="{% url 'quiz:result' not_completed_quiz.quiz.url_title %}" class="btn btn-{{ color_theme }}">
                        Continue
                    </a>
                </div>
            </div>
        {% endfor %}
        <hr>
    {% endif %}
    <h4 class="mt-4 mb-3">Completed quizzes:</h4>
    {% if completed_quizzes %}
        {% for completed_quiz in completed_quizzes %}
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ completed_quiz.quiz }}</h5>
                    <p class="card-text">{{ completed_quiz.quiz.descriptions|slice:":50" }}{% if completed_quiz.quiz.descriptions|length >= 50 %}...{% endif %}</p>
                    <p class="card-text mb-0">
                        Complexity: <span class="fw-bold
                        {% if completed_quiz.quiz.complexity == 1 %}
                            text-success-emphasis
                        {% elif completed_quiz.quiz.complexity == 2 %}
                            text-warning-emphasis
                        {% elif completed_quiz.quiz.complexity == 3 %}
                            text-danger-emphasis
                        {% endif %}">{{ completed_quiz.quiz.get_complexity_display }}</span>
                    </p>
                    <p class="card-text mb-0">Number of Questions:
                        <span class="fw-bold">{{ completed_quiz.quiz.question_set.all|length }}</span>
                    </p>
                    <p class="card-text">Author:
                        <a class="fw-bold text-{% if theme == 'light' %}dark{% else %}light{% endif %}"
                           href="{% url 'quiz:profile' completed_quiz.quiz.author %}">{{ completed_quiz.quiz.author }}</a>
                    </p>
                    <p class="card-text fs-5">
                        Your result: <b>{{ completed_quiz.result }}/{{ completed_quiz.quiz.question_set.all|length }}</b>
                    </p>
                    <a href="{% url 'quiz:result' completed_quiz.quiz.url_title %}" class="btn btn-{{ color_theme }}">
                        Check detail result
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="fs-5">You have not completed any quizzes</p>
    {% endif %}
    <hr>
    <a class="btn btn-outline-{{ color_theme }} fs-5" href="{% url 'quiz:quizzes' %}">Check other quizzes</a>
{% endblock %}