{% extends 'base.html' %}

{% block unicorn %}
    {% load unicorn %}
{% endblock %}

{% block unicorn_scripts %}
    {% unicorn_scripts %}
{% endblock %}

{% block title %}
    Manage quiz
{% endblock %}

{% block content %}
    <h2 class="text-center mt-3 mb-3">Manage quiz</h2>
    {% unicorn 'manage_quiz' quiz=quiz %}
    {% unicorn 'create_question' quiz=quiz %}
    {% for question in quiz.question_set.all %}
        {% unicorn 'manage_question' quiz=quiz question=question %}
    {% endfor %}
    <br>
{% endblock %}