{% extends 'base.html' %}

{% block title %}
    Profile {{ user }}
{% endblock %}

{% block content %}
    <h2 class="text-center mt-3 mb-3">Profile {{ user }}</h2>
    <h4 class="mt-4 mb-3">{{ user }}'s quizzes:</h4>
    {% if quizzes %}
        {% for quiz in quizzes %}
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ quiz }}</h5>
                    <p class="card-text">{{ quiz.descriptions|slice:":50" }}{% if quiz.descriptions|length >= 50 %}...{% endif %}</p>
                    <p class="card-text mb-0">Number of Questions:
                        <span class="fw-bold">{{ quiz.question_set.all|length }}</span>
                    </p>
                    <p class="card-text">
                        Complexity: <span class="fw-bold
                        {% if quiz.complexity == 1 %}
                            text-success-emphasis
                        {% elif quiz.complexity == 2 %}
                            text-warning-emphasis
                        {% elif quiz.complexity == 3 %}
                            text-danger-emphasis
                        {% endif %}">{{ quiz.get_complexity_display }}</span>
                    </p>
                    <a href="{% url 'quiz:quiz' quiz.url_title %}" class="btn btn-{{ color_theme }}">Open</a>
                    &nbsp;
                    {% if request.user == quiz.author %}
                        <a href="{% url 'quiz:manage_quiz' quiz.url_title %}"
                           class="btn btn-outline-{{ color_theme }}">Manage</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="fs-5">User has not created any quizzes</p>
    {% endif %}
{% endblock %}