{% extends 'base.html' %}

{% block title %}
    {{ quiz }}
{% endblock %}

{% block content %}
    <div class="card mt-5 mb-3">
        <div class="card-body fs-5">
            <h2 class="card-title text-center fw-bold">{{ quiz }}{% if is_completed %} (Completed){% endif %}</h2>
            <p class="card-text text-muted text-center">{{ quiz.descriptions }}</p>

            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <span>Complexity:</span>
                    <span class="fw-bold
                        {% if quiz.complexity == 1 %}
                            text-success-emphasis
                        {% elif quiz.complexity == 2 %}
                            text-warning-emphasis
                        {% elif quiz.complexity == 3 %}
                            text-danger-emphasis
                        {% endif %}">
                        {{ quiz.get_complexity_display }}
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Number of Questions:</span>
                    <span class="fw-bold">{{ quiz.question_set.all|length }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Author:</span>
                    <a class="fw-bold text-{% if theme == 'light' %}dark{% else %}light{% endif %}"
                       href="{% url 'quiz:profile' quiz.author %}">{{ quiz.author }}</a>
                </li>
            </ul>

            <div class="text-center mt-4">
                {% if request.user == quiz.author %}
                    <a class="btn btn-outline-{{ color_theme }} fs-5"
                       href="{% url 'quiz:manage_quiz' quiz.url_title %}">Manage quiz</a>
                {% endif %}
                {% if is_completed %}
                    &nbsp;
                    <a class="btn btn-{{ color_theme }} fs-5"
                       href="{% url 'quiz:result' quiz.url_title %}">Check my result</a>
                {% elif quiz.question_set.all|length != 0 %}
                    &nbsp;
                    <a class="btn btn-{{ color_theme }} fs-5"
                       href="{% url 'quiz:question' quiz.url_title 1 %}">Take the quiz</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}