{% extends 'base.html' %}

{% block title %}
    Quizzes
{% endblock %}

{% block content %}
    <h2 class="text-center mt-3 mb-3">Quizzes</h2>
    {% for quiz in quizzes %}
        <div class="card mt-3 mb-3">
            <div class="card-header">{{ quiz }}</div>
            <div class="card-body">
                <h5 class="card-title">Quiz: "{{ quiz }}"</h5>
                <p class="card-text mb-0">Descriptions: {{ quiz.descriptions|truncatewords:50 }}...</p>
                <p class="card-text mb-0">Questions: {{ quiz.question_set.all|length }}</p>
                <p class="card-text">
                    Complexity: <span class="
                    {% if quiz.complexity == 1 %}
                        text-success-emphasis
                    {% elif quiz.complexity == 2 %}
                        text-warning-emphasis
                    {% elif quiz.complexity == 3 %}
                        text-danger-emphasis
                    {% endif %}">{{ quiz.get_complexity_display }}</span>
                </p>
                <a href="{% url 'quiz:quiz' quiz.url_title %}" class="btn btn-success">Open</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}