{% extends 'base.html' %}

{% block title %}
    {{ quiz }}
{% endblock %}

{% block content %}
    <h2 class="text-center mt-3 mb-3">{{ quiz }}</h2>
    <p class="text-center fs-5">Descriptions: {{ quiz.descriptions }}</p>
    <p class="text-center fs-5">Questions: {{ quiz.question_set.all|length }}</p>
    <p class="text-center fs-5">
        Complexity: <span class="
        {% if quiz.complexity == 1 %}
            text-success-emphasis
        {% elif quiz.complexity == 2 %}
            text-warning-emphasis
        {% elif quiz.complexity == 3 %}
            text-danger-emphasis
        {% endif %}">{{ quiz.get_complexity_display }}</span>
    </p>
    <div class="text-center">
        <a class="btn btn-{{ color_theme }} fs-5"
           href="{% url 'quiz:question' quiz.url_title 1 %}">Take the quiz</a>
    </div>
{% endblock %}