{% extends 'base.html' %}

{% block title %}
    Quizzes
{% endblock %}

{% block content %}
    <h2 class="text-center mt-3 mb-3">Quizzes</h2>
    <div class="sort_by d-flex">
        <button class="btn btn-outline-{{ color_theme }} border text-end dropdown-toggle ms-auto" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
            Sort by
        </button>
        <ul class="dropdown-menu dropdown-menu-end mt-2 w-25">
            <li class="dropdown-item">
                <form method="GET">
                    <input type="hidden" name="sort_by" value="title">
                    <input type="submit" class="btn" value="By title: ascending">
                </form>
            </li>
            <li class="dropdown-item">
                <form method="GET">
                    <input type="hidden" name="sort_by" value="-title">
                    <input type="submit" class="btn" value="By title: descending">
                </form>
            </li>
            <li class="dropdown-item">
                <form method="GET">
                    <input type="hidden" name="sort_by" value="complexity">
                    <input type="submit" class="btn" value="By complexity: ascending">
                </form>
            </li>
            <li class="dropdown-item">
                <form method="GET">
                    <input type="hidden" name="sort_by" value="-complexity">
                    <input type="submit" class="btn" value="By complexity: descending">
                </form>
            </li>
            <li class="dropdown-item">
                <form method="GET">
                    <input type="hidden" name="sort_by" value="created_at">
                    <input type="submit" class="btn" value="By date: ascending">
                </form>
            </li>
            <li class="dropdown-item">
                <form method="GET">
                    <input type="hidden" name="sort_by" value="-created_at">
                    <input type="submit" class="btn" value="By date: descending">
                </form>
            </li>
        </ul>
    </div>
    {% for quiz in quizzes %}
        <div class="card mt-3 mb-3">
            <div class="card-header">{{ quiz }}</div>
            <div class="card-body">
                <h5 class="card-title">Quiz: "{{ quiz }}"</h5>
                <p class="card-text mb-0">Descriptions: {{ quiz.descriptions|truncatewords:50 }}...</p>
                <p class="card-text mb-0">Questions: {{ quiz.question_set.all|length }}</p>
                <p class="card-text">
                    Complexity: <span class="
                    {% if quiz.complexity == 1 %}
                        text-success-emphasis
                    {% elif quiz.complexity == 2 %}
                        text-warning-emphasis
                    {% elif quiz.complexity == 3 %}
                        text-danger-emphasis
                    {% endif %}">{{ quiz.get_complexity_display }}</span>
                </p>
                <a href="{% url 'quiz:quiz' quiz.url_title %}" class="btn btn-{{ color_theme }}">Open</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}