{% extends 'base.html' %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
    <h2 class="text-center mt-3 mb-3">Settings</h2>

    <div class="input-group w-100">
        <span class="input-group-text border-end-0 bg-transparent flex-grow-1">Change color theme</span>
        <button class="btn btn-outline-{{ color_theme }} border border-start-0 text-end dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
            Color theme
        </button>
        <ul class="dropdown-menu dropdown-menu-end mt-2 w-25">
            {% for color, theme in colors.items %}
                <li class="m-1">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="color_theme" value="{{ theme }}">
                        <input type="submit"
                               class="dropdown-item bg-{{ theme }} {% if 'dark' not in color %}text-dark{% endif %} rounded"
                               value="{{ color|capfirst }}">
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}